black
mypy
ruff
aider-chat
openai
ai21
cohere
google
google-generativeai
google-cloud-aiplatform
langchain
langchain-google-vertexai
scikit-learn
matplotlib
notebook
numpy
pandas
keras
plotly
seaborn
huggingface_hub
torch
python-dotenv
sentence-transformers
pinecone-client
pinecone-datasets
pinecone-text
tiktoken
tqdm
datasets
deepface
ipywidgets
ipympl
boto3
